<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01when-date__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
		<li><a href="01landingpage1_blank">Landing page - Decision makers/Business Support first time through - no incidents</a></li>
		<li><a href="01landingpage1_nmready">Landing page - Decision makers - ready to make decision</a></li>
		<li><a href="01landingpage1_btsready">Landing page - Business Support - ready to prepare case</a></li>
</ul>
<h4 class="govuk-heading-s">v1 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>No change</li>
		<li>Note: This is a different page from case reviewers landing page. They must be separate for technical performance</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li><a href="https://dwpdigital.atlassian.net/wiki/spaces/CITI/pages/132775346323/Agents+Safeguarding+-+User+Role+Model#decision_maker">Decision maker user canvas</a></li>
		<ul class="govuk-list govuk-list--bullet">
			<li>Need: Work on multiple cases</li>
			<li>Pain: Inefficient processes and missing SLAs</li>
			<li>Pain: The number of reviews needing doing</li>
		</ul>
	</ul>
{{ govukDetails({
	summaryText: "v4 Journey level design notes",
	html: journeyNotesHTMLDecision_v4
}) }}	