<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
{% include "../../_versions/01when-date__versions.njk" %}

<h4 class="govuk-heading-s">States</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="01when-date">Default</a></li>
</ul>
<h4 class="govuk-heading-s">v2 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>KCIS asks for a date using radio buttons for Today and Yesterday because that is, most often, when people fill out these forms</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>This is a space for any questions / assumptions we have about this version of the page</li>
	</ul>