//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

.govuk-template__body {
    background-color: #F3F2F1;
}
 
.searchlight-section-container {
    background-color: #FFFFFF;
    padding: 45px 24px;
}

.index-container {
    background-color: #FFFFFF;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #b1b4b6;
    
   
}

.header {
    box-shadow: 0 2px 2px 0 #b1b4b6;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;

    .topnav-row {
        background-color: #FFFFFF;
    
        #topnav {
            overflow: hidden;

            ul {
                padding: 0;
                margin: 0;

                li {
                    border-bottom: 5px solid white;
                    display: inline-flex;
                    margin-right: 20px;
                    padding: 16px 0 12px 0;

                    a {
                        color: $govuk-text-colour;
                        float: left;
                        text-decoration: none;
                        font-size: 18px;
                    }   
                }

                li.active {
                    border-bottom: 5px solid $govuk-link-colour;
                }
            }   
        }
    }
}

h1 {
    scroll-margin-top: 270px;
}




