<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
<p class="govuk-hint">You are looking at version 3</p>
{% include "../../../_versions/forms/03what-kind-of-adjustment__versions.njk" %}

<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>This page now has just the adjustments which are relevant to visiting a building, which reflects the new categories on searchlight home page.</li>
		<li>Changed title to reflect option they clicked in previous screen / action they're doing.</li>
		<li>Removed hint text as it was no longer correct.</li>

	</ul>

<h4 class="govuk-heading-s">Hypotheses</h3>
	<p class="govuk-hint">This is a space for any questions / assumptions we have about this version of the page</p>
	<ul class="govuk-list govuk-list--bullet">
		<li></li>
	</ul>
