<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
<p class="govuk-hint">You are looking at version 3</p>
{% include "../../../_versions/forms/04what-kind-of-spoken-adjustment__versions.njk" %}

<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Created a new page which allows you to select the adjustments related to when we speak to a customer. v1 and v2 don't exist for this page. </li>
		<li>Changed title to reflect option they clicked in previous screen / action they're doing.</li>
		<li>Removed hint text as it was no longer correct.</li>
	</ul>

<h4 class="govuk-heading-s">Hypotheses</h3>
	<p class="govuk-hint">This is a space for any questions / assumptions we have about this version of the page</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>It shouldn't matter if the person needing sign language is hearing or not. It shouldn't change the service we provide.</li>
	</ul>
