<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
<p class="govuk-hint">You are looking at version 2</p>
{% include "../../../_versions/forms/check-answers__versions.njk" %}

<h4 class="govuk-heading-s">v3 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
<li>Updated the wording for the adjustment categories so they are more inclusive, for example
“When we speak to them” could be on the phone, in person or video call.</li>
<li>Changed “When they access a building” to "When they visit a DWP building" as this only applies to DWP buildings, not all buildings.</li>
<li>Changed 'Adjustments' to 'Reasonable adjustments' - this is what staff are used to seeing and UR participants seemed confused about whether they were the same thing.</li>
<li>Changed 'On the phone' to 'On a call' to cover video calls as well as phone calls. UR participants told us they're encouraged to do video calls now.</li>

</ul>

<h4 class="govuk-heading-s">Hypotheses</h3>
	<p class="govuk-hint">This is a space for any questions / assumptions we have about this version of the page</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>We are not entirely sure the difference between these types of sign language, or why they are relevant</li>
	</ul>
