<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
<p class="govuk-hint">You are looking at version 4</p>
{% include "../../_versions/searchlight__versions.njk" %}

<h4 class="govuk-heading-s">v4 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>Added the details component to show when communications support has been added to a customer profile</li><br>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<p class="govuk-hint">This is a space for any questions / assumptions we have about this version of the page</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>We are asking users what information they would first look for on a customer record. This will inform where the adjustments section sits.</li>
	</ul>