{% set versions = [ 
  "../../v1/forms/02what-kind-of-adjustment",
  "../../v2/forms/02what-kind-of-adjustment",
  "../../v3/forms/03what-kind-of-adjustment"
] %}



{{ govukPagination({

  items: [
     {
      number: 1,
      href: versions[0]
    },
    {
      number: 2,
      href: versions[1]
    },
    {
      number: 3,
      href: versions[2]
    }
  ]
}) }}

{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}



