{% set versions = [ 
  "../../v1/forms/02what-kind-of-adjustment",
  "../../v2/forms/02what-kind-of-adjustment",
  "../../v3/forms/04what-kind-of-spoken-adjustment",
  "../../v4/forms/04what-kind-of-spoken-adjustment"
] %}



{{ govukPagination({

  items: [
    
    {
      number: 3,
      href: versions[2]
    },
      {
      number: 4,
      href: versions[3]
    }
  ]
}) }}

{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}