{% extends "layouts/main.html" %}
{% extends "layouts/header.html" %}

{% block pageTitle %}

  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/acs/in_person_adjustments/v4/forms/check-answers" method="post">
        {{ govukCheckboxes({
            name: "adjustments",
            fieldset: {
              legend: {
                text: "What kind of adjustment does the customer need when they visit a DWP building?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            
            items: [
            {
              value: "Wide doorway",
              text: "Wide doorway",
              checked: true if data['adjustments']|length and data['adjustments'].includes("Wide doorway") else false
            },
            {
              value: "Ramp access",
              text: "Ramp access",
              checked: true if data['adjustments']|length and data['adjustments'].includes("Ramp access") else false
            },
            {
              value: "Lift",
              text: "Lift",
              checked: true if data['adjustments']|length and data['adjustments'].includes("Lift") else false
            },
            {
              value: "Induction loop",
              text: "Induction loop",
              checked: true if data['adjustments']|length and data['adjustments'].includes("Induction loop") else false
            }
              
            ]
          }) }}

        {{ govukButton({
            text: "Continue"
        }) }}
    </form>
    
    {% if (checked("displaymode", "show") == "checked") %}
      {% include "../_notes/forms/03what-kind-of-adjustment__notes.njk" %}
    {% endif %}
  </div>
</div>

{% endblock %}
