<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
<p class="govuk-hint">You are looking at version 2</p>
{% include "../../_versions/searchlight__versions.njk" %}

<h4 class="govuk-heading-s">v2 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>We believe Searchlight is the best place for ACS to sit because it is cross benefit and has role-based access control (RBAC)</li>
        <li>Because ACS could be of immediate importance during an interaciton, we believe it is appropriate to put it in its own Searchlight section</li>
	</ul>
<h4 class="govuk-heading-s">Hypotheses</h3>
	<p class="govuk-hint">This is a space for any questions / assumptions we have about this version of the page</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>Adjustments is currently under Personal details, but perhaps it should be above it</li>
		<li>We are asking users what information they would first look for on a customer record. This will inform where the adjustments section sits.</li>
	</ul>