{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/six-point-plan/02what-happened" method="post">

        {{ govukDateInput({
          id: "date",
          namePrefix: "date",
          fieldset: {
            legend: {
              text: "What date did the Six Point Plan happen?",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "/six-point-plan/02time"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}