{% extends "templates/main.html" %}
{% extends "templates/header-acs.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    
      <form class="form" action="/six-point-plan/02what-happened" method="post">



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {% set dateHtml %}
              {{ govukDateInput({
                id: "incident-date",
                namePrefix: "incident-date",
                hint: {
                  text: "For example, 30 11 2021"
                },
                items: [
                  {
                    classes: "govuk-input--width-2",
                    name: "day"
                  },
                  {
                    classes: "govuk-input--width-2",
                    name: "month"
                  },
                  {
                    classes: "govuk-input--width-4",
                    name: "year"
                  }
                ]
              }) }}
            {% endset %}
            {{ govukRadios({
              idPrefix: "date",
              name: "date",
              items: [
                {
                  value: "today",
                  text: "Today"
                },
                {
                  value: "yesterday",
                  text: "Yesterday"
                },
                {
                  value: "other",
                  text: "Another date",
                  conditional: {
                    html: dateHtml
                  }
                }
              ],
                fieldset: {
                  legend: {
                    text: "When did the incident happen?",
                    classes: "govuk-fieldset__legend--l",
                    isPageHeading: true
                  }
                }
            }) }}







        {{ govukButton({
          text: "Continue",
          href: "/six-point-plan/02time"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}