{% extends "layouts/main.html" %}
{% extends "layouts/header-acs.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Six Point Plan report sent
      </h1>
      <div class="govuk-panel__body">
        <!--Your reference number<br><strong>HDJ2123F</strong>-->
      </div>
    </div>

    <div class="submission-information">
      <p class="govuk-body">We’ve received your Six Point Plan report, and we’ve sent it on to your manager. Your manager will 
        review what you’ve written, add comments and then attach it to the customer’s record.</p>
      <h2 class="govuk-heading-m">What to do now</h2>
      <p class="govuk-body">
        It’s important that you look after your own wellbeing, and that you speak to your line manager about the incident.
      </p>
      <p class="govuk-body">
        You can get additional support by calling
        <a class="govuk-link" href="https://intranet.dwp.gov.uk/section/working-dwp/human-resources/wellbeing/employee-assistance-programme">PAM Assist</a>
        (the Employee Assistance programme) 24 hours a day. You can also contact a Mental Health First Aider during working hours (click the link in 
        the footer of any intranet page).</p>
      <h2 class="govuk-heading-m">Can we improve this service?</h2>
      
     
      <p class="govuk-body">
        To help us make this service better for other users, we’d like to know 
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=6fbxllcQF0GsKIDN_ob4w-oDsqWqlSlJvQe6JubotYpUNFoxRVFURzIyVU1QOVo3QTA5WFdWSjJIVS4u" class="govuk-link" rel="noreferrer noopener" target="_blank">what you think.</a><br>
        It will only take 2 minutes to give us feedback.
      </p>
    </div>

  </div>
</div>

{% endblock %}




