{% extends "layouts/header_searchlight.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
  Home page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="advanced-customer-support">
        <h1 class="govuk-heading-l">
          Advanced Customer Support
        </h1>

        <div class="searchlight-section-container">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Adjustments"
                },
                value: {
                  text: ""
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "View",
                      visuallyHiddenText: "advanced customer support"
                    },
                    {
                      href: "#",
                      text: "Record",
                      visuallyHiddenText: "advanced customer support"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Six Point Plan"
                },
                value: {
                  text: ""
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "View",
                      visuallyHiddenText: "advanced customer support"
                    },
                    {
                      href: "#",
                      text: "Record",
                      visuallyHiddenText: "advanced customer support"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Keep Customer Interactions Safe"
                },
                value: {
                  text: ""
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Make report",
                      visuallyHiddenText: "advanced customer support"
                    }
                  ]
                }
              }
            ]
          }) }}
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="personal-details">
        <h1 class="govuk-heading-l">
          Personal details
        </h1>
  
        <div class="searchlight-section-container">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  html: '<p class="govuk-body govuk-!-font-weight-regular">Current name</p>'
                },
                value: {
                  html: '<p class="govuk-body govuk-!-font-weight-bold">MR AARON DOE</p><p class="govuk-hint">Name type 1</p>'
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  html: "<p>Date of birth</p>"
                },
                value: {
                  html: '<p class="govuk-body govuk-!-font-weight-bold">4 June 1972 (age 51)</p><p class="govuk-hint">Verified to level 2</p>'
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "date of birth"
                    }
                  ]
                }
              },
              {
                key: {
                  html: '<p class="govuk-body govuk-!-font-weight-regular">National Insurance number</p>'
                },
                value: {
                  html: '<p class="govuk-body govuk-!-font-weight-bold">07700 900457</p><p class="govuk-body">Verified</p>'
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "national insurance number"
                    }
                  ]
                }
              },
              {
                key: {
                  html: '<p class="govuk-body govuk-!-font-weight-regular">Nationality</p>'
                },
                value: {
                  html: '<p class="govuk-body govuk-!-font-weight-bold">British</p><p class="govuk-body">Source - DWP</p>'
                }
              }
            ]
          }) }}
        </div>
      </div>

      {% include "./_notes/searchlight__notes.njk" %}
    </div>
  </div>

{% endblock %}
