{% extends "layouts/main.html" %}
{% extends "layouts/header.html" %}

{% block pageTitle %}

  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    {% set dateHTML %}
    
      {{ data['areyousure'] }}
        
    {% endset %}

    <div class="govuk-!-padding-bottom-9">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Delete adjustment"
            },
            value: {
              text: data['areyousure']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
        ]
      }) }}
  
      <h2 class="govuk-heading-m">
        Adding, editing or deleting information from a customer's record
      </h2>
  
      <p>By clicking 'Accept and save', you are confirming that, to the best of your knowledge, the updates you have made are correct.</p>
  
      <form action="/acs/six_point_plan/v1/forms/confirmation" method="post" novalidate>
        {{ govukButton({
          text: "Accept and send"
        }) }}
      </form>
    </div>
  </div>
</div>

{% endblock %}
