{% set versions = [ 
  "../../v1/searchlight",
  "../../v2/searchlight"
] %}



{{ govukPagination({

  items: [
    {
      number: 1,
      href: versions[0]
    },
    {
      number: 2,
      href: versions[1]
    }
  ]
}) }}

{% block pageScripts %}
  <script src="/public/javascripts/versions_1-0.js"></script>
{% endblock %}