{% extends "layouts/main.html" %}
{% extends "layouts/header.html" %}

{% block pageTitle %}

  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit

{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Before you start
    </h1>

<br>

        <h2 class="govuk-heading-m">Does the customer (or their appointee) know that you're changing their record?</h2>
        <p>You should not change a customer's record without telling them or their appointee.</p>
<p>The exception to this is if telling a customer might distress them. For example, if a customer experiences mental ill-health and finds it hard to talk about this.</p>
        {{ govukButton({
            text: "Continue",
            href: "/acs/in_person_adjustments/v3/forms/03what-kind-of-adjustment.html"
        }) }}




    {% if (checked("displaymode", "show") == "checked") %}
      {% include "../_notes/forms/01does-the-customer-know__notes.njk" %}
    {% endif %}
  </div>
</div>

{% endblock %}
