{% extends "layouts/main.html" %}
{% extends "layouts/header.html" %}

{% block pageTitle %}

  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/acs/in_person_adjustments/v3/forms/check-answers" method="post">
        {{ govukCheckboxes({
            name: "spoken-adjustments",
            fieldset: {
              legend: {
                text: "What kind of adjustment does the customer need?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: '<p class="govuk-hint">Currently you can only specify adjustments that apply when a customer visits a DWP site. We will add other adjustments later; for example, adjustments for telephone calls or letters.<br><br>Select all that apply.</p>'
            },
            items: [
              {
                value: "Sign language",
                text: "Sign language",
                checked: true if data['spoken-adjustments']|length and data['spoken-adjustments'].includes("Sign language") else false
              },
              {
                value: "Sign language - hearing",
                text: "Sign language - hearing",
                checked: true if data['spoken-adjustments']|length and data['spoken-adjustments'].includes("Sign language - hearing") else false
              }
            ]
          }) }}

        {{ govukButton({
            text: "Continue"
        }) }}
    </form>
    
    {% if (checked("displaymode", "show") == "checked") %}
      {% include "../_notes/forms/04what-kind-of-spoken-adjustment__notes.njk" %}
    {% endif %}
  </div>
</div>

{% endblock %}
