<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
<p class="govuk-hint">You are looking at version 4</p>
{% include "../../../_versions/forms/04what-kind-of-spoken-adjustment__versions.njk" %}

<h4 class="govuk-heading-s">v4 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>‘Sign Language’ and ‘Sign Language – Hearing’ have been combined, now there is one option ‘British Sign Language’. We were unable to find a clear definition.

On the plain meaning of the words, it’s not clear why the distinction is useful, since the support required is the same. 
	</ul>

<h4 class="govuk-heading-s">Hypotheses</h3>
	<p class="govuk-hint">This is a space for any questions / assumptions we have about this version of the page</p>
	<ul class="govuk-list govuk-list--bullet">
		<li>Our hypothesis was that attributes managed through the existing Customer Information System (CIS) would meet these criteria. However, our analysis found some duplication and unclear definitions in the CIS attributes. We have recommended that some CIS attributes be merged, and one deprecated.
There are potentially many more kinds of support need that could be managed through the ACS SRA component, and work is ongoing to identify these.</li>
<li>Having two similar attributes without a clear reason to choose one over the other risks confusion</li>
	</ul>