<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<h3 class="govuk-heading-s govuk-!-font-weight-regular">NOT PART OF DESIGN: Demo only</h3>
<h4 class="govuk-heading-s">Versions</h3>
<p class="govuk-hint">You are looking at version 4</p>
{% include "../../../_versions/forms/04what-kind-of-spoken-adjustment__versions.njk" %}

<h4 class="govuk-heading-s">v4 Design notes</h3>
	<ul class="govuk-list govuk-list--bullet">
		<li>The details component has been added below 'Sign language - hearing' this is to exaplin what it means and when you might select this option. 
	</ul>

<h4 class="govuk-heading-s">Hypotheses</h3>
	<p class="govuk-hint">This is a space for any questions / assumptions we have about this version of the page</p>
	<ul class="govuk-list govuk-list--bullet">
<li>By explaining the difference between the two adjustments agents will be able to choose the most applicable adjustment for the customer.</li>
	</ul>