{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Advanced Customer Support <br>Prototypes
    </h1>
    <p>The core capabilities needed for ACS are to <b>capture, store, show</b> and <b>share</b> information relating to customers' support needs. Consuming services will use ACS information to adapt and meet customer needs.</p>
    <p>Please visit our <a href="https://dwpdigital.atlassian.net/wiki/spaces/ACSD/overview?homepageId=133128356386">ACS confluence site</a> for more details.</p>

  <div class="background ">
    <div class="index-container">
    <div class="mvp-placeholder">
        {{govukTag({
          text: "Alpha",
          classes: "govuk-tag--blue"
        })}}
        <br>
        <br>      
        <h4 class="govuk-heading-m">
          In person adjustments
        </h4>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="acs/in_person_adjustments/v4/searchlight">
                Version 4 - In person adjustments (latest) 
              </a>
            <p class="govuk-body-s">Example of 'Communications support' recorded on a customer profile.
            </p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="acs/in_person_adjustments/v3/searchlight">
                Version 3 - In person adjustments
              </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="acs/in_person_adjustments/v2/searchlight">
                Version 2 - In person adjustments 
              </a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="acs/in_person_adjustments/v1/searchlight">
                Version 1 - In person adjustments 
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>

    <br>
    <br>
    <br>
    <br>

  <div class="index-container">
    <div class="six-point-plan">
      {{govukTag({
        text: "Discovery",
        classes: "govuk-tag--blue"
      })}}
      <br>
      <br> 
      <h4 class="govuk-heading-m">
        Six Point Plan
      </h4>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="acs/six_point_plan/v2/searchlight">
            Version 2 - Six Point Plan (latest)
            </a>
        </td>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="acs/six_point_plan/v1/searchlight">
              Version 1 - Six Point Plan
            </a>
          </td>
        </tr>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form class="form" action="index" method="post">
      {{ govukRadios({
        idPrefix: "displaymode",
        name: "displaymode",
        fieldset: {
          legend: {
            html: "Do you want to show design notes?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "show",
            text: "Yes",
            hint: {
              text: "For designing and documenting"
            },
            checked: checked("displaymode", "show")
          },
          {
            value: "hide",
            text: "No",
            hint: {
              text: "For testing and stakeholder presentations"
            },
            checked: checked("displaymode", "hide")
          }
        ],
        hint: {
          html: currentMode
        }
      }) }}
      
      {{ govukButton({
        text: "Apply now"
      }) }}
  </form>

  </div>
</div>

{% endblock %}
