{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype index
    </h1>

    <div class="mvp-placeholder">
      <h4 class="govuk-heading-m">
        In person adjustments
      </h4>
      <ul>
        <li>
          <a href="acs/in_person_adjustments/v4/searchlight">
            v4 - In person adjustments (latest) 
          </a>
        </li>
        <p class="govuk-body-s">Example of 'Communications support' recorded on a customer profile.
        </p>
        <li>
          <a href="acs/in_person_adjustments/v3/searchlight">
            v3 - In person adjustments
          </a>
        </li>
        <li>
          <a href="acs/in_person_adjustments/v2/searchlight">
            v2 - In person adjustments 
          </a>
        </li>
        <li>
          <a href="acs/in_person_adjustments/v1/searchlight">
            v1 - In person adjustments 
          </a>
        </li>
      </ul>
    </div>

    <div class="six-point-plan">
      <h4 class="govuk-heading-m">
        Six Point Plan
      </h4>
      <ul>
        <li>
          <a href="acs/six_point_plan/v2/searchlight">
            v2 - Six Point Plan (latest)
          </a>
        </li>
        <li>
          <a href="acs/six_point_plan/v1/searchlight">
            v1 - Six Point Plan
          </a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form class="form" action="index" method="post">
      {{ govukRadios({
        idPrefix: "displaymode",
        name: "displaymode",
        fieldset: {
          legend: {
            html: "Do you want to show design notes?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "show",
            text: "Yes",
            hint: {
              text: "For designing and documenting"
            },
            checked: checked("displaymode", "show")
          },
          {
            value: "hide",
            text: "No",
            hint: {
              text: "For testing and stakeholder presentations"
            },
            checked: checked("displaymode", "hide")
          }
        ],
        hint: {
          html: currentMode
        }
      }) }}
      
      {{ govukButton({
        text: "Apply now"
      }) }}
  </form>

  </div>
</div>

{% endblock %}
