{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype index
    </h1>

    <div class="mvp-placeholder">
      <h4 class="govuk-heading-m">
        MVP placeholder
      </h4>
      <ul>
        <li>
          <a href="acs/MVP_PLACEHOLDER/v1/searchlight/personal_details">
            v1 - MVP placeholder (latest)
          </a>
        </li>
      </ul>
    </div>

    <div class="six-point-plan">
      <h4 class="govuk-heading-m">
        Six Point Plan
      </h4>
      <ul>
        <li>
          <a href="acs/six_point_plan/v2/searchlight/personal_details">
            v2 - Six Point Plan (latest)
          </a>
        </li>
        <li>
          <a href="acs/six_point_plan/v1/searchlight/personal_details">
            v1 - Six Point Plan
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
