{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ dwpHeader({
    name: "Your view",
    serviceHref: "#",
    action: "Sign out",
    actionHref: "#",
    container:true
  }) }}

  {{ dwpKeyDetailsBar({
    primaryIdentifier: {
    text: 'Name:',
    value: 'Aaron Doe'
    },
    secondaryIdentifier: {
    text: 'National Insurance Number:',
    value: 'QQ 12 34 56 X'
    },
    additionalData: [
    {
    value: "4 June 1972",
    text: "Date of birth:"
    },
    {
    value: "07777 900 900",
    text: "Mobile number:"
    },
    {
    value: "English speaker",
    text: "Language:"
    }
    ]
  }) }} 

{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}